/*

  Author : Mahamudul Hassan ;
  Email  : Kingsnanhasan9@gmail.com;



    ======[Index]======

[1]Header
[2]Hero
[3]Banner
[4]Feature
[5]Showcase
[6]Carosol
[7]Download
[8]Footer





*/





/*=====[Global css]=====*/




body {
    background-color: #081b36 !important;
    color: #fff;
    line-height: 35px;
    
}
.image-fluid {
    display: block;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 20px!important;
}


span{
    color: #2a5da3;
}
.btn1{
    display: block;
    margin: 50px auto;
    padding: 5px 20px;
    background-color: transparent;
    color: #fff;
    border:2px solid #133765;
    border-radius: 25px;
}
.container-fluid{
    width: 100%;
}

p{
    color: #4e6078;
}


/*=====[Header]=====*/
.logo {
    width: 120px;
}

.navbar {
    color: #fff !important;
    background-color: #0a2345 !important;
}

.navbar-toggler {
    background-color: transparent;
    padding: 10px !important;
}

.fa.fa-bars {
    font-size: 25px;
    color: #2a5ea4;
}

/*=====[Hero]=====*/

.hero{
    background: url(../img/showcasebg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0px;
    
}
.image-fluid.new{
    transform: scale(0.8);
}


/*=====[Banner]=====*/

.banner{
    text-align: left;
    color: #fff;
}
.text{
    padding: 30px;
}
.btn2{
    float: left;
}
/*=====[Feature]=====*/
.feature{
    text-align: left;
}
.feature h3{
    text-align: center;
}

.icon{
    font-size: 50px;
    color: #ff3334;
    padding: 20px 0px;
}
.same{
    padding: 40px 0px;
}

/*=====[Showcase]=====*/
.showcase{
    text-align: left;
    background-color: #0408123d;
}
.mid{
    padding:  0px 0px 0px 150px;
    
}


/*=====[Carosol]=====*/
.carousel-indicators{
    list-style: circle!important;
}

/*=====[Download]=====*/
.download{
    background-color: #0408127d;
    text-align: center;
}

/*=====[Footer]=====*/
footer {
    background-color: #020103;
    padding: 5px 0px;
}
ul{
    list-style: none;
}
ul li{
    display:inline-block;
    padding: 5px 10px;
    font-size: 10px;
    color: #14396a;
}
ul li a{
    text-decoration: none;
}

footer p{
    display: block;
    margin: 0px auto;
}


/*====[Media Quari]====*/

/*====[small device]====*/
@media(min-width:0px) and (max-width:500px){
    body{
        text-align: center!important;
    }
    .mid{
    padding:  0px 20px 0px 20px;
    
    }
    
    
}

/*====[Medium device]====*/
@media(min-width:501px) and (max-width:768px){
    .mid{
    padding:  0px 30px 0px 30px;
    
    }
    
}

/*====[notebook]====*/
@media(min-width:769px) and (max-width:1240px){
    .mid{
    padding:  0px 50px 0px 50px;
    
    }
}
    
